nodered/flows/bridge_only_template.json
[
  {
    "id": "flow_bridge_only_v1",
    "type": "tab",
    "label": "Bridge Only",
    "disabled": false,
    "info": "Bridge-only flow template for Wave 6 enforcement"
  },
  {
    "id": "mqtt_broker_bridge",
    "type": "mqtt-broker",
    "name": "bridge-broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "mqtt_in_bridge",
    "type": "mqtt in",
    "z": "flow_bridge_only_v1",
    "name": "bridge.in.lorawan",
    "topic": "lorawan/site-a/device-a",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_bridge",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 120,
    "wires": [["json_bridge"]]
  },
  {
    "id": "json_bridge",
    "type": "json",
    "z": "flow_bridge_only_v1",
    "name": "bridge.json.decode",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 120,
    "wires": [["mqtt_out_bridge"]]
  },
  {
    "id": "mqtt_out_bridge",
    "type": "mqtt out",
    "z": "flow_bridge_only_v1",
    "name": "bridge.out.legacy",
    "topic": "bridge/legacy/site-a/device-a",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_bridge",
    "x": 620,
    "y": 120,
    "wires": []
  },
  {
    "id": "status_bridge",
    "type": "status",
    "z": "flow_bridge_only_v1",
    "name": "bridge.status",
    "scope": ["mqtt_in_bridge", "mqtt_out_bridge"],
    "x": 190,
    "y": 180,
    "wires": [["debug_bridge"]]
  },
  {
    "id": "debug_bridge",
    "type": "debug",
    "z": "flow_bridge_only_v1",
    "name": "bridge.debug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 400,
    "y": 180,
    "wires": []
  }
]
